<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Document</title>
  </head>

<body>
  <h1>Skate Park</h1>

  <div class="py-4">
    <h2>Lista de participantes</h2>

    <hr />

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Años de experiencia</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody id="tablabody">

      </tbody>
    </table>
    <a href="/login" id="iniciar">Iniciar Sesión</a> |
    <a href="/registro" id="registro">Registrarme</a>
  </div>
</body>
<script src="/index.js"></script>
</html>